form label, form h3{
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    font-family: arial;
}

form input[type=text] {
    font-size: 16px;
    margin-bottom: 20px;
}

form input[type=email] {
    font-size: 16px;
    margin-bottom: 20px;
}

form input[type="radio"] + label {
    display: inline;
}

form input[type="checkbox"] + label {
    display: inline;
}

form textarea {
    width: 25%;
    height: 10rem;
    margin-bottom: 20px;
}

form input[type="password"] + label {
    margin-top: 50px;
}

form button {
    background: #026;
    border-radius: 10px/5px;
    border: 0;
    padding: 10px;
    font-size: 16px;
    color: white;
    margin-top: 20px;
}

select {
    margin: 10px;
}